/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@300;400;500&family=Nanum+Myeongjo:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Instrument Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #111;
  background-color: #fefefa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-background text-text;
}

#root {
  width: 100%;
  margin: 0 auto;
}
